*{
    margin: 0;
}
.main{
    display: flex;
    background-color: black;
}
.main{
    display: flex;
    justify-items: center;
}
.img{
    width: 300px;
    height: 1500px;
    border: 1px solid rgb(184, 182, 182);
    background-color: white;
}
.b1{
    margin-left: 500px;
    margin-top: 50px;
    background-color: white;
}
.p2{
    margin-left: 50px;
    margin-top: 50px;
}
.text1{
       margin-left: 500px;
       margin-top: 50px;
}
.b2{
    background-color: white;
}
.text6{
    margin-left: 460px;
    margin-top: 60px;
}
.text6 p{
    margin-left: 25px;
    font-family: inherit;
    margin-top: 5px;
}
.text7{
    display: flex;
    margin-top: -1350px;
    margin-left: 50px;
}
.text7 p{
    margin-left: 20px;
    margin-top: 7px;
    font-family: sans-serif;
}

.text9{
    display: flex;
    margin-left: 50px;
    margin-top: 35px;
}
.text9 p{
    margin-left: 25px;
    margin-top: 5px;
    font-family: sans-serif;
}
.text10{
    display: flex;
    margin-left: 50px;
    margin-top: 35px;
}
.text10 p{
    margin-left: 25px;
    margin-top: 5px;
    font-family: sans-serif;
}
.text11{
    display: flex;
    margin-left: 50px;
    margin-top: 35px;
}
.text11 a{
    color: black;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 5px;
    font-family: sans-serif;
}
.text11 a:hover{
    text-decoration: underline;
    color: gray;
}
.text16{
    display: flex;
    margin-left: 70px;
    margin-top: 50px;
}
.text16 a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
.text16 a:hover{
    text-decoration: underline;
    color: blue;
}
.text15{
    display: flex;
    margin-left: 60px;
    margin-top: 700px;
}