
*{
    margin: 0;
}

.main{
    margin-left: 745px;
    width: 460px;
    height: 820px;
    border: 1px solid rgb(211, 210, 210);
}
.img{
    margin-top: 50px;
    margin-left: 80px;
}
.text{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: gray;
}
.logo{
    margin-top: 20px;
    margin-left: 80px;
    padding-left: 60px;
    width: 250px;
    height: 30px;
    padding-top: 10px;
    color: white;
    background-color: rgb(46, 126, 192);
    border: 1px solid blue;
    border-radius: 10px;
}
.logo a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
}
.ro{
    margin-top: 20px;
    margin-left: 80px;
}
.v1{
    margin-top: 20px;
    margin-left: 60px;
    width: 350px;
    height: 50px;
}
.v2{
    margin-top: 5px;
    margin-left: 60px;
    width: 350px;
    height: 50px;
}
.text1{
    text-align: center;
    margin-top: 15px;
}
.mm2{
    margin-top: 20px;
    margin-left: 80px;
    width: 320px;
    height: 40px;
    color: white;
    background-color: rgb(46, 126, 192);
    border: 1px solid blue;
    border-radius: 10px;
}
.mm2:hover{
    background-color: gray;
    border: 1px solid gray;
    transition: 1s;
}
.block9{
    display: flex;
    margin-left: 745px;
    width: 460px;
    height: 70px;
    margin-top: 30px;
    border: 1px solid rgb(211, 210, 210);
}
.block9 p{
    margin-left: 160px;
    margin-top: 30px;
}
.block9 a{
    margin-top: 30px;
    color: blue;
}
.add1 {
    display: flex;
    margin-top: 20px;
    margin-left: 885px;
    font-weight: 100;
}
.play {
    display: flex;
    padding-top: 10px;
    margin-left: 800px;
    background-color: black;
    width: 180px;
    margin-top: 20px;
    height: 45px;
    padding-left: 10px;
}
.soft{
    margin-left: 30px;
}
.play div p {
    color: white;
}
h5 {
    color: white;
}
.googleplay {
    width: 35px;
    height: 35px;
}
.bottom{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}
.bottom .lin{
    color: gray;
    margin-left: 10px;
}
.bottom .lins{
    color: gray;
    margin-left: 10px;
}
.micro{
    display: flex;
    padding-top: 10px;
    margin-left: 1000px;
    background-color: black;
    width: 170px;
    margin-top: -55px;
    height: 45px;
    padding-left: 10px;
}
.mm1{
    margin-left: 30px;
    margin-top: 10px;
    width: 280px;
     height: 40px;
     background-color: blue;
     color: white;
     border-radius: 5px;
}
.pp9 {
    color: white;
    margin-left: 1760px;
}
.pp9 img{
    margin-top: -2000px;
}